<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
    <h1>Name: <%= pokemon.name %></h1>
    <p>Number: <%= pokemon.number %></p>
    <p>Type: <%= pokemon.type %></p>
    <p>Hp: <%= pokemon.hp %></p>
    <p>Starter: <%= pokemon.starter %></p>
    <form action="/pokemon/<%=pokemon.name%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</body>
</html>